html, body {
    padding: 0;
    margin: 0;
    font-family: "Google Sans Display";
}

#top {
    overflow: hidden;
    border-bottom: 2px solid #D3D3D3;
    box-sizing:border-box;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#logo {
    float: left;
    font-size: 24px;
    margin-left: 98px;
    height: 38px;
    line-height: 38px;
}

#logo a {
    text-decoration: none;
    color: black;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 98px;
    box-sizing:border-box;
}

#menu li {
    display:inline-block;
    margin-left: 16px;
    height: 38px;
    line-height: 38px;
    box-sizing:border-box;
}

#menu li:hover {
    border-bottom: 2px solid black;
    color: #581845;
}

#menu a {
    text-decoration: none;
    color: #3a3b3c;
}
