html, body {
    padding: 0;
    margin: 0;
    font-family: "Google Sans Display";
}

#warpper {
    overflow: hidden;
}

#top {
    overflow: hidden;
    border-bottom: 2px solid #D3D3D3;
    box-sizing:border-box;
    background-color: white;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#logo {
    float: left;
    font-size: 24px;
    margin-left: 98px;
    height: 46px;
    line-height: 46px;
}

#logo a {
    text-decoration: none;
    color: black;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 98px;
    box-sizing:border-box;
}

#menu li {
    display:inline-block;
    margin-left: 16px;
    height: 46px;
    line-height: 46px;
    box-sizing:border-box;
}

.active-item {
    border-bottom: 2px solid black;
    color: #581845;
}

#menu a {
    text-decoration: none;
    color: #3a3b3c;
}

#inner-warpper {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}

#middle {
    margin: 0;
    padding: 0;
    margin-top:46px;
    padding-top: 96px;
    overflow: hidden;
}

#middle #left {
    float: left;
    margin-left: 160px;
}

#middle #left p {
    margin: 0;
    font-size: 40px;
    width: 260px;
}

#middle #left a {
    text-decoration:none;
    width: 100px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
    padding: 6px;
}

#middle #right {
    margin-top: 22px;
    float: right;
    margin-right: 160px;
}

#features {
    overflow: hidden;
    width: 1020px;
    margin: 0 auto;
    margin-top: 200px;
}

#features h2 {
    margin-top: 46px;
    margin-left: 160px;
    font-size: 32px;
}

#features-list {
    overflow: hidden;
    width: 720px;
    margin: 0 auto;
}

#features-list div {
    float: left;
    width: 190px;
    height: 150px;
    font-size: 16px;
    box-sizing: border-box;
    margin-right: 50px;
    margin-top: 32px;
    margin-bottom: 40px;
    color: #626262;
}

#features-list div h3 {
    color: black;
} 

#demo {
    text-align: center;
}

#demo h2 {
    padding-top: 60px;
}

#buy {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 100px;
}

#buy p {
    font-size: 18px;
}

#buy a {
    text-decoration:none;
    width: 150px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
    padding: 6px;
}

#contact {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    background-color: black;
    box-sizing: border-box;
    padding-bottom: 26px;
}

#contact h3 {
    padding-top: 20px;
    color: white;
}

#contact p {
    margin: 0;
    color: white;
}

#contact a {
    color: green;
}
